---
import { Image } from 'astro:assets';
import astroLogo from '../assets/logo.png';
import background from '../assets/backgroundd.png';
---

<div id="container">
	<Image 
		id="background" 
		src={background} 
		alt="" 
		fetchpriority="high"
		style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); min-width: 100vw; min-height: 100vh; object-fit: cover; z-index: -1; filter: contrast(.8);"
	/>
	<main>
		<section id="hero">
			<a href="/links">
				<Image src={astroLogo} alt="FF LOGO" width={200} height={200} class="glow logo_grow" />
			</a>
		</section>
	</main>
</div>

<style>
	#container {
		height: 100%;
		font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
	}

	main {
		height: 100%;
		display: flex;
		justify-content: center;
	}

	#hero {
		display: flex;
		align-items: start;
		flex-direction: column;
		justify-content: center;
		padding: 16px;
	}

	.logo_grow {
        width: 100%;
        height: auto;
        object-fit: cover;
        animation: slowZoom 5s ease-in-out infinite alternate;
    }

    @keyframes slowZoom {
        from {
			transform: scale(.9);
        }
        to {
            transform: scale(1.1);
        }
    }
</style>
