---
import "../styles/global.css";
import '../styles/glow.css';


interface Props {
  title?: string;
  description?: string;
}

const pathToTitle: Record<string, string> = {
  '/': 'FREQFACT | HOME',
  '/events': 'FREQFACT | EVENTS',
  '/about': 'FREQFACT | ABOUT',
  '/contact': 'FREQFACT | CONTACT',
  '/links': 'FREQFACT | LINKS'
};

const { 
  title = pathToTitle[Astro.url.pathname] || 'FREQFACT',
  description = "FREQFACT"
} = Astro.props;
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>

<style is:global>
  :root {
    --max-width: 1100px;
    --font-system: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
      Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --background: #000000;
    --text-primary: #ffffff;
    --text-secondary: #a0a0a0;
  }

  html {
    font-family: var(--font-system);
    scroll-behavior: smooth;
    background-color: var(--background);
    color: var(--text-primary);
  }
  html,
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    padding-bottom: 8rem;
  }

  main {
    width: 100%;
    height: 100%;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
</style>